{% extends "base.html" %}
{% block content %}
<br>
<table class="table table-hover">
    <thead class="bg-dark text-white-50">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nume</th>
        <th scope="col">Adresa</th>
        <th scope="col">Site</th>
        <th scope="col">Telefon</th>
        <th scope="col">Pret</th>
        <th scope="col">Note</th>
        <th scope="col">Verificat</th>
        <th scope="col">Adaugat</th>
        <th scope="col">-------</th>
      </tr>
    </thead>
    <tbody>
        {% for camin in camine %}
        <tr>
            <td>
                {{ camin.id }}
            </td>
            <td>
                {{ camin.nume }}
            </td>
            <td>
                {{ camin.adresa }}
            </td>
            <td>
                {{ camin.site }}
            </td>
            <td>
                {% for tel in camin.telefon %}
                    {{ tel }}
                {% endfor %}
            </td>
            <td>
                {{ camin.pret }}
            </td>
            <td>
                {{ camin.note }}
            </td>
            <td>
                {% if camin.verificat %}
                    <span class="border border-success rounded-circle bg-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {% else %}
                    <span class="border border-danger rounded-circle bg-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
                {% endif %}
            </td>
            <td>
                {{ camin.adaugat }}
            </td>
            <td>
                <!-- Modal toggle -->
                <a href="{{ url_for('update', id=camin.id) }}" type="button" class="btn btn-outline-secondary">Editeaza</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}