{% extends "base.html" %}
{% block content %}
<br>
<table class="table  table-hover">
    <thead class="bg-dark text-white-50">
      <tr>
        <th scope="col" class="text-warning">ID</th>
        <th scope="col" class="text-warning">Nume <span class="fa-solid fa-house-chimney-user"></span></th>
        <th scope="col" class="text-warning">Adresa <span class="fa fa-map-location-dot"></th>
        <th scope="col" class="text-warning">Site <span class="fa fa-earth-europe"></th>
        <th scope="col" class="text-warning">Telefon <span class="fa fa-phone"></span></th>
        <th scope="col" class="text-warning">Pret <span class="fa fa-coins"></span></th>
        <th scope="col" class="text-warning">Note <span class="fa fa-clipboard"></span></th>
        <th scope="col" class="text-warning">Verificat</th>
        <th scope="col" class="text-warning">Adaugat</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for camin in camine %}
        <tr>
            <td>
                </i> {{ camin.id }}
            </td>
            <td>
                <a href="{{ url_for('view', id=camin.id) }}" class="text-dark"><i class="fa-solid fa-house-chimney-user"></i> {{ camin.nume }}</a>
            </td>
            <td>
                {{ camin.adresa }}
            </td>
            <td>
                <a href="{{ camin.site }}" target="_blank" class="link-dark">{{ camin.site }}</a>
            </td>
            <td>
                {{ camin.telefon }}
            </td>
            <td>
                {{ camin.pret }}
            </td>
            <td>
                {{ camin.note }}
            </td>
            <td>
                {% if camin.verificat %}
                    <span><i class="fa-regular fa-circle-check  text-warning"></i></span>
                {% else %}
                    <span><i class="fa-regular fa-circle-xmark text-danger"></i></span>
                </span>
                {% endif %}
            </td>
            <td>
                {{ camin.adaugat }}
            </td>
            <td>
                <!-- Modal toggle -->
                <a href="{{ url_for('update', id=camin.id) }}" type="button" class="btn btn-warning">Editeaza</a>
            </td>
            <td>
                <a href="{{ url_for('delete', id=camin.id) }}" type="button" class="btn btn-outline-danger">Sterge</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}